{% extends "header.html" %}
{% block body %}
<body>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ url_for("static",filename="js/bootstrap.min.js") }}"></script>
<div class='row'>
	<div class="col-lg-5 pull-left" color='blue'><span class="pull-left">{{comp}}</span></div>
	<div class="col-lg-5 pull-right" color='blue'>
		<span class="pull-right">
        <button class="btn btn-default" type="button">Add to watchlist</button>
		</span>
	</div>
</div>
<br>
<br>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#2017" aria-controls="2017" role="tab" data-toggle="tab">2017</a></li>
    <li role="presentation"><a href="#2016" aria-controls="2016" role="tab" data-toggle="tab">2016</a></li>
    <li role="presentation"><a href="#2015" aria-controls="2015" role="tab" data-toggle="tab">2015</a></li>
    <li role="presentation"><a href="#2014" aria-controls="2014" role="tab" data-toggle="tab">2014</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="2017">
	<embed type="image/svg+xml" src={{graph_data2017|safe}} style='max-width:1000px;max-height:1000px;'/>
	</div>
    <div role="tabpanel" class="tab-pane" id="2016">
	<embed type="image/svg+xml" src={{graph_data2016|safe}} style='max-width:1000px;max-height:1000px;'/>
	</div>
    <div role="tabpanel" class="tab-pane" id="2015">
	<embed type="image/svg+xml" src={{graph_data2015|safe}} style='max-width:1000px;max-height:1000px;'/>
	</div>
    <div role="tabpanel" class="tab-pane" id="2014">
	<embed type="image/svg+xml" src={{graph_data2014|safe}} style='max-width:1000px;max-height:1000px;'/>
	</div>
  </div>

</div>
</body>

<div class="container">
  <h2>Fundamental Data</h2>
  <p>Profit and Loss Statement</p>
  <table class="table table-bordered">
    <thead>
    <tr>
      {% for cell in PL %}
        <th>{{cell}} </th>
      {% endfor %}
    </tr>
    </thead>
   <tbody>
       {% for row in PL_data %}
       <tr>
        {% for cell in row %}
          <td>{{cell}}</td>
        {% endfor %}
       </tr>
      {% endfor %}
   </tbody>
  </table>
  <p>Balance Sheet Statement</p>
  <table class="table table-bordered">
    <thead>
    <tr>
      {% for cell in BS %}
        <th>{{cell}} </th>
      {% endfor %}
    </tr>
    </thead>
   <tbody>
       {% for row in BS_data %}
       <tr>
        {% for cell in row %}
          <td>{{cell}}</td>
        {% endfor %}
       </tr>
      {% endfor %}
   </tbody>
  </table>
</div>

</body>
{% endblock %}
